<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sum of two numbers</h1>
    <form action="dis" method="get">
        <label for="num1">Enter the first number :</label>
        <input type="number" name="num1">
        <br><br>
        <label for="num2">Enter the second number :</label>
        <input type="number" name="num2">
        <br><br>
        <input type="submit" value="SUM">

    </form>
    <h2>{{result}}</h2>
</body>
</html>