body{
      background-color: gold;


}
h1{ color:darkred;font-size: 25;font-family: cursive;}
p{ text-align: left;color: black;}
#para1
{ text-align: center;color:darkblue;}
.center
{text-align: center;color: darkmagenta;}