<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOTE</title>
</head>
<body style="background-color: black;">
    <h1 style="color: darkred;">ELIGIBILITY FOR VOTING</h1>
    <form action="check" method="post">
        {% csrf_token %}
        <label style="color: antiquewhite;">Enter the age of the person</label>
        <input type="number" name="age"><br>
        <input type="submit" name="eligibility" value="check"><br>
        <label style="color: antiquewhite;">ELIGIBILITY</label>
        <input type="text" name="res" value="{{res}}">








    </form>
    
</body>
</html>