<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add" method="post"> 
       {% csrf_token %}

       name: <input type="text" name="name"> <br>
       country: <input type="text" name="country"> <br>

    <input type="submit" value="Add player"> <br>

    <P>
        {{msg}} <br>
    </P>
    </form>
</body>
</html>

<form action="display">
    <input type="submit" value="Display"><br>
<table border="1">
            <tr>
            <td>Playid</td>
            <td>Name</td>
            <td>Country</td>
            
            </tr>
            {% for i in play %}
            <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.country}}</td>
        
            </tr>
            {% endfor %}
</table><br>
</form>


<form action="del" method="POST">
    {% csrf_token %}

    Name to delete : <input type="text" name="name"><br>
<input type="submit" value="Delete"><br>
{{msg}}
</form>


<form action="update" method="Post">
    {%csrf_token%}

Old Name: <input type="text" name="oldname"><br>
New Name: <input type="text" name="newname"><br>
<input type="submit" value="Update Player"><br>

<p> 

     {{msg1}}<br>
</p>
</form>


